In [1]:
#Print the given sequence of numbers using for loop
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [9]:
#Print multiples of 10 for numbers in a given range
for num in range(5):
    if num > 0:
        print(num*10)

10
20
30
40

In [11]:
# Print first 5 natural numbers using while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [15]:
entry = 0
sum1 = 0
print("Enter numbers to find their sum, negative number ends the loop:")
while True:
    # int() typecasts string to integer
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
print("Sum =", sum1)

Enter numbers to find their sum, negative number ends the loop:

 23
 -6

Sum = 23

In [21]:
for var1 in range(3):
    print( "Iteration " + str(var1 + 1) + "of outer loop")
for var2 in range(2): #nested loop
    print(var2 + 1)
    print("Out of inner loop")
    print("Out of outer loop")

Iteration 1of outer loop
Iteration 2of outer loop
Iteration 3of outer loop
1
Out of inner loop
Out of outer loop
2
Out of inner loop
Out of outer loop

In [23]:
#PROJECT-1
# Create a list of students as dictionaries
students = [
    # Girls
    {"Name": "Evelyn", "Age": 17, "Height": 5.5, "Score": 80},
    {"Name": "Jessica", "Age": 16, "Height": 6.0, "Score": 85},
    {"Name": "Somto", "Age": 17, "Height": 0.5, "Score": 70},
    {"Name": "Edith", "Age": 18, "Height": 4.5, "Score": 60},
    {"Name": "Liza", "Age": 16, "Height": 5.9, "Score": 76},
    {"Name": "Madonna", "Age": 18, "Height": 5.6, "Score": 66},
    {"Name": "Waje", "Age": 17, "Height": 5.5, "Score": 87},
    {"Name": "Tola", "Age": 20, "Height": 6.1, "Score": 95},
    {"Name": "Aisha", "Age": 19, "Height": 0.5, "Score": 50},
    {"Name": "Latifa", "Age": 17, "Height": 5.5, "Score": 49},

    # Boys
    {"Name": "Chinedu", "Age": 19, "Height": 5.7, "Score": 74},
    {"Name": "Liam", "Age": 16, "Height": 5.9, "Score": 87},
    {"Name": "Wale", "Age": 18, "Height": 5.8, "Score": 75},
    {"Name": "Gbenga", "Age": 17, "Height": 6.1, "Score": 68},
    {"Name": "Abiola", "Age": 20, "Height": 1.5, "Score": 66},
    {"Name": "Kola", "Age": 19, "Height": 9.5, "Score": 78},
    {"Name": "Kunle", "Age": 16, "Height": 5.6, "Score": 87},
    {"Name": "George", "Age": 18, "Height": 1.5, "Score": 98},
    {"Name": "Thomas", "Age": 17, "Height": 5.4, "Score": 54},
    {"Name": "Wesley", "Age": 19, "Height": 8.5, "Score": 60}
]

# Print data in a tabular format
print(f"{'Name':<10} {'Age':<5} {'Height':<7} {'Score':<6}")
print("-" * 32)
for student in students:
    print(f"{student['Name']:<10} {student['Age']:<5} {student['Height']:<7} {student['Score']:<6}")

Name       Age   Height  Score
--------------------------------
Evelyn     17    5.5     80
Jessica    16    6.0     85
Somto      17    0.5     70
Edith      18    4.5     60
Liza       16    5.9     76
Madonna    18    5.6     66
Waje       17    5.5     87
Tola       20    6.1     95
Aisha      19    0.5     50
Latifa     17    5.5     49
Chinedu    19    5.7     74
Liam       16    5.9     87
Wale       18    5.8     75
Gbenga     17    6.1     68
Abiola     20    1.5     66
Kola       19    9.5     78
Kunle      16    5.6     87
George     18    1.5     98
Thomas     17    5.4     54
Wesley     19    8.5     60

In [25]:
#PROJECT2
def calculate_atr(experience, age):
    if experience > 25 and age >= 55:
        return 5_600_000
    elif experience > 20 and age >= 45:
        return 4_480_000
    elif experience > 10 and age >= 35:
        return 1_500_000
    else:
        return 550_000

# Example usage
exp = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

atr = calculate_atr(exp, age)
print(f"Annual Tax Revenue (ATR) is: ₦{atr:,}")

Enter years of experience:  4
Enter age:  24

Annual Tax Revenue (ATR) is: ₦550,000